html {
}

body {
  background-image: url("../public/images/clouds.jpg");
  margin-top: 20px;
}

@keyframes background {
  from {background-color: white;}
  to {background-color: darkblue;}
}

.App {
  padding-top: 20px;
  text-align: center;
  background-color: darkblue;
  color: white;
  opacity: 75%;
  animation-name: background;
  animation-duration: 4s;
}

.App input {
  margin-bottom: 15px;
  font-size: x-large;
}

.App button {
  font-size: xx-large;
  font-weight: bold;
  padding: 5px;
  background: white;
  color: green;
}

.city-display {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#add-button {
  margin-left: 40px;
  font-size: medium;
  height: auto;
  padding: 10px;
  align-self: center;
}

.weather-child {
  background-color: aqua;
  color: darkblue;
}

.weather-child h1 {
  color: darkblue;
  background: white;
  padding-bottom: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.weather-child h2 {
}